html, body {
  height: 100%;
}

a {
  color: #0074D9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article a:visited {
  color: #B10DC9;
}

body {
  color: #333;
  margin: 0;
  font-family: 'Arvo', serif;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  font-size: 16pt;
  text-rendering: optimizeLegibility;
  text-align: justify;
  text-indent: 2em;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: geometricPrecision;
}

small {
  display: inline-block;
  margin-bottom: 2em;
}

.date, .author {
  color: #FF851B;
}

/*header */
header {
  margin: auto 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

header a {
  color: #000;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

#mainNav {
  padding: 0;
  margin: auto 0;
}

#mainNav ul li {
  list-style: none;
  display: inline-block;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: bold;
}

#mainNav ul li a:hover {
  text-decoration: none;
  transition: 3s;
  color: #FF851B;
}

.menu-current, .menu-current:hover {
  text-decoration: underline;
  color: #FF851B;
}

#site-title {
  padding: 0;
  text-align: left;
  padding-left: 2em;
}

#site-title a {
  color: #FF851B;
}

/* new content */

#newest {
  margin: 0 auto;
  max-width: 1024px;
  /*border: 1px solid;*/
}

.featured {
  display: inline-block;
  height: 300px;
  width: 30%;
  vertical-align: top;
  margin-left: 2%;
  margin-right: 0;
  background-size: cover;
  background-color: #512DA8;
  text-align: center;
  position: relative;
}

.featured a {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  position: absolute;
  bottom: 0;
  left: 1em;
}

/* List of articles on index */

#list_articles {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1em;
  font-size: 12pt;
}

#list_articles::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

#list_articles p a {
  color: #727272;
}

.summary {
  font-size: .9em;
}

.more {
  font-family: serif;
  font-size: .9em;
  color: #FF851B;
}

#paginator {
  margin: 10px auto;
  text-align: center;
}

.paginator-navigation i {
  color: #FF851B;
  padding: 0 1em;
  display: inline-block;
}

.paginator-navigation i:hover {
  text-decoration: none;
}

.previous-next-article {
  display:inline-block;
  max-width: 48%;
  vertical-align: top;
}

.previous-article {
  float: left;
}

.next-article {
  float: right;
}
/* Article */

article {
  margin: 0 auto;
  padding: 1em;
  width: 96%;
  max-width: 780px;
}

#postTitle {
  font-size: 3em;
  text-transform: uppercase;
  padding-left: 0;
  color: #000;
}

.article-image {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 1em auto;
}

/* Disqus */

.comments {
  max-width: 800px;
  margin: 0 auto;
}

/*Footer */

footer {
  background-color: #fafafa;
  margin: 0;
  padding: 1em;
}

footer li {
  list-style: none;
}

.copyright {
  text-align: center;
}
