<!DOCTYPE html>
<html lang="{{with .Site.LanguageCode}}{{.}}{{end}}">
  {{partial "head.html" .}}
  <body>
    {{partial "header.html" .}}
    <article>
        <h2 id="postTitle">{{.Title}}</h2>
        <small class="date">{{.Date.Format "Jan 2, 2006"}}</small>
        {{if .Params.author}}
          <small class="author"> | {{.Params.author}}</small>
        {{else if .Site.Params.author}}
          <small class="author"> | {{.Site.Params.author}}</small>
        {{end}}
        {{with .Params.image}}
          <img src="{{.}}" class="article-image" />
        {{end}}
        {{.Content}}
    </article>
    <div id="listArticles">
    {{ with .PrevInSection }}
      <div class="previous-next-article previous-article">
  		     {{.Render "li"}}
      </div>
  	{{ end }}
    {{ with .NextInSection }}
      <div class="previous-next-article next-article">
			     {{.Render "li"}}
      </div>
		{{ end }}
    </div>
    <section class="comments">
      {{ template "_internal/disqus.html" . }}
    </section>
    {{partial "footer.html" .}}
  </body>
</html>
